@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1100px;
	margin: auto;
	padding: 2%;
}

footer, footer a{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #BDBDBD;
	text-align: center;
}

footer a {
	text-decoration: underline;
}

h1, h2, h3, h5, h6, label, input::placeholder, p, input, select, .price_after_remise, .price {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
}

h1 {
	font-size: 36px;
	line-height: 44px;
	color: #4E5150;
	padding: 2% 0 2% 0;
}

h2 {
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}

label {
	font-size: 12px;
	line-height: 15px;
	color: #4F4F4F;
}

input::placeholder, select {
	font-size: 16px;
	line-height: 20px;
	color: #828282;
}

input {
	color: #333333;
}

form p {
	font-size: 12px;
	line-height: 15px;
	color: #4F4F4F;
}

span {
	color: #828282;
}

.checkout {
	background: #F2F2F2;
	border-radius: 12px;
	padding: 2%;
}

.article {
	display: flex;
	gap: 25px;
	padding: 2% 0 2% 0;
}

.article img {
	display: block;
	border-radius: 15px;
	max-width: 136px;
}

.elements {
	display: flex;
	flex-direction: column;
}

.prices {
	display: flex;
	gap: 20px;
}

.article h3 {
	font-size: 16px;
	line-height: 20px;
	color: #4E5150;
}

.price_after_remise {
	font-size: 16px;
	line-height: 20px;
	color: #F2994A;
}

.price {
	font-size: 12px;
	line-height: 15px;
	text-decoration-line: line-through;
	color: #4E5150;
}

.quantity {
	border: 1px solid #828282;
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	width: 134.25px;
	height: 52px;
	align-items: center;
	margin-top: 40px;
}

.quantity p {
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.quantity span {
	background: #E0E0E0;
	border-radius: 4px;
	height: 25px;
	width: 25px;
}

.line {
	width: 100%;
	border: 1px solid #BDBDBD;
}

h5 {
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}

h6 {
	font-size: 14px;
	line-height: 17px;
	color: #333333;
}

.input {
	border: 1px solid #828282;
	border-radius: 12px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.end-checkout {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 2% 0 2% 0;
}

.checkout .line:nth-child(3) {
	margin-top: 25%;
}
